.TodoList{
    width:700px;
    height: 600px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    background-color:rgba(240, 87, 73, 0.8);
    box-shadow: 5px 4px 10px 1px rgba(3, 3, 3, 0.897);
    transition: width 0.5s ease-in-out;
}

.TodoList::-webkit-scrollbar {
    width: 8px;
}

.TodoList::-webkit-scrollbar-track {
    border-radius: 10px;
}

.TodoList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 100px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.TodoList:hover{
    width: 750px;
}

.TodoList h1{
    margin: 50px auto;
    color: #2D2926FF;
    font-weight: bold;
    font-size: 40px;
}

.Todos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.Checked{
    text-decoration: line-through; 
    text-decoration-color:rgba(17, 17, 16, 0.8); 
    text-decoration-style: solid;
}

