@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;

}

body{
  background: linear-gradient(110deg,  rgb(223, 129, 106) 40%,#ada9a3);
}